{% load rupiah_filter %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-50">
    {% include 'components/navbar.html' %}
    <div class="container mx-auto px-4 py-8">
        <div class="mt-6 pb-4">
            <a href="{% url 'account' %}" class="text-blue-500 hover:underline">&laquo; Back to Account</a>
        </div>
      {% if user.is_authenticated %}
        {% if transactions %}
          <div class="mt-4 p-4 bg-white shadow-md rounded-lg">
            <h3 class="text-xl font-semibold">Your Transactions</h3>

            <table class="min-w-full table-auto mt-4 border-collapse text-left">
              <thead>
                <tr class="bg-gray-100">
                  <th class="px-4 py-2 text-gray-700">Transaction ID</th>
                  <th class="px-4 py-2 text-gray-700">Total</th>
                  <th class="px-4 py-2 text-gray-700">Status</th>
                  <th class="px-4 py-2 text-gray-700">Payment Method</th>
                  <th class="px-4 py-2 text-gray-700">Details</th>
                </tr>
              </thead>
              <tbody>
                {% for transaction in transactions %}
                  <tr class="border-b hover:bg-gray-50">
                    <td class="px-4 py-2">{{ transaction.id }}</td>
                    <td class="px-4 py-2">Rp {{ transaction.total|rupiah_format }}</td>
                    <td class="px-4 py-2">{{ transaction.get_status_display }}</td>
                    <td class="px-4 py-2">{{ transaction.payment_method }}</td>
                    <td class="px-4 py-2">
                      <a href="{% url 'transaction_detail' transaction.id %}" class="text-blue-500 hover:underline">View Details</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p class="text-gray-700 mt-4">You haven't made any transactions yet. Start shopping now!</p>
        {% endif %}
      {% else %}
        <div class="bg-white shadow-lg rounded-lg p-6">
          <p class="text-gray-700">
            Please <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Login</a> to access your dashboard.
          </p>
        </div>
      {% endif %}
    </div>
  </body>
</html>
