{% load rupiah_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link href="/static/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800">
    {% include 'components/navbar.html' %}
    <div class="container mx-auto p-4">
        <div class="mt-6 pb-4">
            <a href="{% url 'product_list' %}" class="text-blue-500 hover:underline">&laquo; Kembali</a>
        </div>
        <div class="bg-white shadow-md rounded-lg p-6 grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="flex justify-center mb-4 md:mb-0">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-64 object-cover rounded-md">
                {% endif %}
            </div>

            <div>
                <h1 class="text-3xl font-bold mb-2">{{ product.name }}</h1>
                <p class="text-lg text-blue-600 font-semibold mb-4">{{ product.price|rupiah_format }}</p>

                <div class="text-sm text-gray-600 mb-4">
                    <p><strong>Kategori:</strong> {% if product.category %}{{ product.category.name }}{% else %}No category{% endif %}</p>
                    <p><strong>Warna:</strong> {{ product.color }}</p>
                    <p><strong>Ukuran:</strong> EU {{ product.size }}</p>
                </div>

                <p class="text-gray-600 mb-6">{{ product.description }}</p>
            </div>
        </div>
    </div>
</body>
</html>